rules_version = '2';

// Warning: These rules are completely open and are for development purposes only.
// They allow anyone to read, write, and delete any file in your storage bucket.
// You MUST secure these rules before moving to production.
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read, write: if true;
    }
  }
}
