
rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Allow unauthenticated reads for all files.
    // This is useful for public assets like images.
    // Restrict writes to only authenticated users.
    match /{allPaths=**} {
      allow read;
      allow write: if request.auth != null;
    }

    // Allow any authenticated user to write to the 'tasks' folder.
    // This is necessary for users and VLEs to upload documents for service requests.
    match /tasks/{taskId}/{allPaths=**} {
      allow write: if request.auth != null;
    }
  }
}
